body{
    background-image: url(Images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    position: relative;
}

.container{
    position: relative;
    transform: translate(0,160px);
    background-color: #42d4d975;
    border: 1px solid black;
    border-radius: 25px;
    color: white;
}

.heading{
    width: 30%;
    color: white;
    margin: 0 auto;
    text-align: left;
    border-bottom: 2px solid white;
}
.hr_rule{
    border: 5px solid white;
    margin: 7px;
}
.form-select{
    color:#28868a;
    margin-top: 5px;
}
.col-md-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
